
KiCad/fp-info-cache
KiCad/gerbers/MBC3_Flaschart_1.5.zip
KiCad/gerbers/mbc3flash-B_Adhes.gbr
KiCad/gerbers/mbc3flash-B_CrtYd.gbr
KiCad/gerbers/mbc3flash-B_Cu.gbr
KiCad/gerbers/mbc3flash-B_Fab.gbr
KiCad/gerbers/mbc3flash-B_Mask.gbr
KiCad/gerbers/mbc3flash-B_Paste.gbr
KiCad/gerbers/mbc3flash-B_SilkS.gbr
KiCad/gerbers/mbc3flash-Cmts_User.gbr
KiCad/gerbers/mbc3flash-Dwgs_User.gbr
KiCad/gerbers/mbc3flash-Eco1_User.gbr
KiCad/gerbers/mbc3flash-Eco2_User.gbr
KiCad/gerbers/mbc3flash-Edge_Cuts.gbr
KiCad/gerbers/mbc3flash-F_Adhes.gbr
KiCad/gerbers/mbc3flash-F_CrtYd.gbr
KiCad/gerbers/mbc3flash-F_Cu.gbr
KiCad/gerbers/mbc3flash-F_Fab.gbr
KiCad/gerbers/mbc3flash-F_Mask.gbr
KiCad/gerbers/mbc3flash-F_Paste.gbr
KiCad/gerbers/mbc3flash-F_SilkS.gbr
KiCad/gerbers/mbc3flash-Margin.gbr
KiCad/gerbers/mbc3flash.drl
KiCad/mbc3flash-cache.lib
KiCad/mbc3flash-rescue.dcm
KiCad/mbc3flash-rescue.lib
KiCad/mbc3flash.dsn
KiCad/mbc3flash.kicad_pcb-bak
KiCad/mbc3flash.sch-bak
KiCad/mbc3flash.ses
KiCad/mbc3flashold.kicad_pcb
KiCad/mbc3flashold.pro
KiCadOld/
AltSwitch/